# Entorno virtual
venv/
.env
main2.py
main3.py

# Python cache
**pycache**/
*.pyc
*.pyo
*.pyd

# Base de datos
data/*.db

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs
*.log

# VS Code (opcional)
.vscode/